.textBold {
  color: var(--White, #fff);
  /* H5 - Space Mono */
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 35.2px */
  text-transform: capitalize;
}
