@import '../../../styles/responsive.scss';
.trending {
  padding-top: 80px;
  padding-bottom: 80px;
  @include responsive(mobile) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  @include responsive(tablet) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  &-content {
    @include responsive(mobile) {
      font-size: 16px !important;
    }
    @include responsive(tablet) {
      font-size: 16px !important;
    }
  }
}
.trending-box {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  @include responsive(mobile) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    row-gap: 30px;
  }
  @include responsive(tablet) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;
  }
}
